.todoList {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #c0a198;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  animation: fadeIn 0.3s forwards;

  &:hover {
    background-color: #f9f9f9;
    color: #333;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }

  .button--delete {
    background-color: #f4511e;
    color: #fff;
  }

  .button--edit {
    background-color: #ffa726;
    color: #fff;
  }

  span {
    flex: 1;
    cursor: pointer;

    &.completed {
      text-decoration: line-through;

      opacity: 0.4;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
